.DS_Store
__pycache__
data/regulondb_13.0
data/Model_predictions
data/predicted_results 
src/modeval/ebcubed.c
src/modeval/jaccard.c
*.so
*.pyd
*.dll
*.o
*.pyc
*.pyo
__pycache__/
build/
dist/
*.egg-info/